.layout {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        width: 1300px;
        height: 70px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 51px;
        }

        .release {
            width: 100px;
            border-radius: 7px;
        }

        .login {
            border-radius: 7px;
        }

        .avatar {
            cursor: pointer;
            background-color: #1890ff;
        }
    }

    :global {
        .ant-layout-header {
            background-color: #fff;
            padding: 0;
            height: 70px;
        }
    
        .ant-layout-footer {
            background-color: #252525;
            color: #fff;
            font-size: 30px;
            text-align: center;
        }

        .ant-layout-content {
            min-height: auto;
            flex: 1;
            background: #f0f2f5;
        }
    }
}

:global {
    .ant-popover-placement-bottom {
        .ant-popover-inner-content {
            padding: 0;

            .ant-menu-item-only-child {
                height: 30px;
                line-height: 30px;
                margin: 10px 0;
                color: #606266;

                &:hover {
                    background-color: #ecf5ff;
                    color: #66b1ff;
                }
            }
        }  
    }
}
