.homeList {
    margin-bottom: 10px;
    :global {
        .ant-comment-actions {
            font-size: 12px;

            li {
                margin-right: 16px;
            }
        }
    }

    .title {
        font-weight: bold;
    }

    .homeListImage {
        img {
            width: 100px;
            margin-right: 10px;
        }
    }
}