.homeList {
    margin-bottom: 10px;
    :global {
        .ant-comment-actions {
            li {
                margin-right: 6px;
            }
        }
    }

    .title {
        font-weight: bold;
    }

    .homeListImage {
        img {
            width: 100px;
            margin-right: 10px;
        }
    }
}